* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

.navbar button {
  margin: auto 5px;
  padding: 5px 8px;
}

.container {
  padding: 10px 20px;
  background: #028090;
  height: 100vh;
}

.title-1 {
  margin: 20px auto;
  text-align: center;
  letter-spacing: 2px;
  color: #f0f3bd;
  /* offset-x | offset-y | blur-radius | color */
  text-shadow: 1px 1px 2px black;
  font-size: 2.5rem;
}

.title-2 {
  font-size: 1.1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #f0f3bd;
}

.accepted-files {
  margin-left: 30px;
  font-size: 1.1rem;
  list-style: decimal;
}

.description-1, .description-2 {
  margin: 10px auto;
  padding-left: 20px;
}

.description-1 {
  font-size: 1.2rem;
  color: #fff;
}

.description-2 {
  font-size: 1rem;
  color: #fff;
}

.highlight {
  background-color: #f0f3bd;
  color: #028090;
  padding: 1px 5px;
}

.text-center {
  text-align: center;
}

.container-dropzone {
  margin: 10px 20px;
}

.btn-generate {
  margin: 20px auto;
  display: flex;
  padding: 17px 40px;
  font-size: 1.8rem;
  background: #f0f3bd;
  color: #028090;
  cursor: pointer;
  border-radius: 7px;
  border-color: #f0f3bd;
  border-width: 3px;
  transition: 0.4s;
}

.btn-generate:hover {
  background-color: #fff;
  transition: 0.4s;
}

.btn-generate-disabled {
  margin: 20px auto;
  display: flex;
  padding: 17px 40px;
  font-size: 1.8rem;
  background: #a7a7a7;
  color: #ffffffa1;
  cursor: pointer;
  border-radius: 7px;
  border-color: #8f8f8f;
  border-width: 3px;
  transition: 0.4s;
}

.page-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-show-pdf {
  display: flex;
  justify-content: center;
}

.btn-show-pdf a {
  text-decoration: none;
  margin: 20px auto;
  padding: 17px 40px;
  font-size: 1.8rem;
  background: #f0f3bd;
  color: #028090;
  cursor: pointer;
  border-radius: 7px;
  border-color: #f0f3bd;
  border-width: 3px;
  transition: 0.4s;
}

.btn-show-pdf a:hover {
  background-color: #fff;
  transition: 0.4s;
}